

.vote-buttons {
	text-align: center;
}

a.vote {
	display: block;
	position: relative;
	margin-bottom: 5px;
}

a.vote.up {
	background-image: url('/cefacem/resources/img/sprite.png');
	background-position: left -70px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-color: transparent;
}

a.vote.down {
	background-image: url('/cefacem/resources/img/sprite.png');
	background-position: left -118px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-color: transparent;

}

.post-score {
	color: #777;
	font-size: 165%;
	font-weight: bold;
	padding: 0 0 3px;
}